/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242b33;
  color: #fff;
  font-size: 16px;
  scroll-behavior: smooth;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.container--sm {
  width: 892px;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: #fff;
}
.logo-text {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.7;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.none {
  display: none !important;
}

.title {
  font-weight: 700;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  line-height: 1.33;
  color: #d4c14f;
}

.privacy {
  font-size: 13px;
  line-height: 1.3;
  color: #e7e7e7;
  text-align: center;
}

.btn {
  height: 50px;
  padding: 12px;
  background-color: #d4c14f;
  color: #fff;
  text-align: center;
  font-weight: 700;
  line-height: 1.7;
  transition: all 250ms ease-in-out;
}
.btn:hover {
  background-color: #fff;
  color: #d4c14f;
}

.input {
  height: 50px;
  padding: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  line-height: 1.92;
  transition: all 250ms ease-in-out;
}
.input::placeholder {
  text-align: center;
  color: #bebebe;
  font-size: 14px;
  line-height: 1.92;
}
.input:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 74px;
  min-height: 840px;
  background-image: linear-gradient(#242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url(../img/header/header-bg.jpg);
}
@media (max-width: 999px) {
  .header {
    min-height: unset;
    row-gap: 50px;
  }
}
.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top-row--mobile {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: #242b33;
  flex-direction: column;
  row-gap: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: scroll;
  justify-content: start;
}
.header__top-row--mobile .header__nav {
  display: block;
}
.header__top-row--mobile .header__nav .nav__list {
  flex-direction: column;
  align-items: center;
}
.header__top-row--mobile .header__nav-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
@media (max-width: 999px) {
  .header__nav {
    display: none;
  }
}
.header .nav {
  font-size: 14px;
  letter-spacing: 0.05em;
}
.header .nav__list {
  display: flex;
  gap: 38px;
}
.header .nav__item {
  position: relative;
  transition: color 250ms ease-in-out;
}
.header .nav__item:hover {
  color: #d4c14f;
}
.header .nav__item::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #d4c14f;
  transition: width 250ms ease-in-out;
}
.header .nav__item:hover::after {
  width: 100%;
}
.header .nav a {
  color: #fff;
}
.header__title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  font-family: "Playfair Display", serif;
  color: #d4c14f;
  line-height: 1.3;
  margin-bottom: 80px;
}
@media (max-width: 999px) {
  .header__title {
    font-size: 36px;
  }
}
.header__icon {
  display: block;
  margin: 0 auto;
  animation: moveUpDown 2s ease-in-out infinite;
}
.header__address {
  margin: 0 auto;
  font-size: 18px;
}
.header__address-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  line-height: 1.7;
  transition: all 250ms ease-in-out;
  color: #fff;
}
.header__address-link:hover {
  color: #d4c14f;
}
.header__address .address-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 98px;
}
@media (max-width: 999px) {
  .header__address .address-wrap {
    row-gap: 10px;
    justify-content: center;
  }
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.header__nav-btn {
  display: none;
}
@media (max-width: 999px) {
  .header__nav-btn {
    display: block;
  }
}

.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

.benefits {
  position: relative;
}
.benefits::after {
  content: "II";
  left: calc(50% + 555px);
  transform: translateX(-50%);
  line-height: 1.3;
  position: absolute;
  top: 0;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 400px;
  color: #fff;
  opacity: 0.02;
}
.benefits__row {
  padding: 120px 0;
  display: flex;
  justify-content: center;
  gap: 70px;
}
.benefits__item {
  text-align: center;
  width: 193px;
  border: 1px solid transparent;
  transition: all 250ms ease-in-out;
  animation: shadow-effect 2s ease-in-out infinite;
}
.benefits__item:hover {
  animation: none;
}
.benefits__item:nth-child(2) {
  animation-delay: 250ms;
}
.benefits__item:nth-child(3) {
  animation-delay: 500ms;
}
.benefits__item:nth-child(4) {
  animation-delay: 750ms;
}
@keyframes shadow-effect {
  0%, 100% {
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
  }
  50% {
    filter: drop-shadow(0px 8px 10px rgba(212, 193, 79, 0.6)) drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.2));
  }
}
.benefits__item-icon {
  margin-bottom: 53px;
  transition: filter 250ms ease-in-out;
}
.benefits__item-text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  line-height: 1.35;
}

.appartments {
  position: relative;
}
.appartments::before {
  content: "III";
  right: calc(50% + 555px);
  transform: translateX(50%);
  line-height: 1.2;
  position: absolute;
  top: 0;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 400px;
  color: #fff;
  opacity: 0.02;
}
.appartments__wrap {
  margin-bottom: 88px;
}
.appartments__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.appartments__item {
  position: relative;
  outline: 1px solid transparent;
  transition: all 250ms ease-in-out;
  overflow: hidden;
}
.appartments__link {
  color: #fff;
  display: inline-block;
}
.appartments__link::before {
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%);
}
.appartments__link::after {
  opacity: 0;
  position: absolute;
  z-index: 7;
  top: 15px;
  left: 15px;
  bottom: 15px;
  right: 15px;
  content: "";
  border: 3px double rgba(255, 255, 255, 0.5);
  transition: all 250ms ease-in-out;
}
.appartments__link:hover::after {
  opacity: 1;
}
.appartments__img {
  position: relative;
  z-index: 5;
  transition: all 250ms ease-in-out;
}
.appartments__item:hover .appartments__img {
  transform: scale(1.1);
  filter: contrast(110%) brightness(1.2) saturate(1.2);
}
.appartments__text {
  position: absolute;
  z-index: 9;
  bottom: 44px;
  left: 50px;
  right: 20px;
  font-size: 24px;
  line-height: 1.16;
}

.cta {
  padding: 180px 0;
  background: linear-gradient(180deg, #242b33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242b33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url("../img/cta/cta-bg.jpg");
}
.cta__title {
  margin-bottom: 17px;
}
.cta__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.cta__text {
  line-height: 1.5;
}
.cta__text p + p {
  margin-top: 1em;
}
.cta__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px 30px;
  align-items: center;
}

.video {
  position: relative;
}
.video::after {
  content: "IV";
  left: calc(50% + 555px);
  transform: translateX(-50%);
  z-index: -1;
  line-height: 1.3;
  position: absolute;
  top: 0;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 400px;
  color: #fff;
  opacity: 0.02;
}
.video__link {
  position: relative;
  display: block;
  width: 720px;
  margin: 0 auto;
}
.video__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.8);
  transition: all 250ms ease-in-out;
}
.video__link:hover::before {
  background: rgba(36, 43, 51, 0.6);
}
.video__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: play-pulse 2s infinite;
}
.video__link:hover .video__icon {
  animation: none;
  filter: saturate(1.5);
}
@keyframes play-pulse {
  0% {
    width: 100px;
  }
  50% {
    width: 110px;
  }
  100% {
    width: 100px;
  }
}
.map {
  position: relative;
  padding: 180px 0;
}
.map::before {
  position: absolute;
  top: 0;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 400px;
  color: #fff;
  opacity: 0.02;
  content: "V";
  top: 160px;
  right: calc(50% + 555px);
  transform: translateX(50%);
  z-index: -1;
  line-height: 1.2;
}
.map__title {
  margin-bottom: 88px;
}
.map__block {
  height: 358px;
  background-color: #2d343c;
}

.feedback {
  padding-bottom: 180px;
}
.feedback__title {
  margin-bottom: 38px;
}
.feedback__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.feedback__info {
  align-self: center;
}
.footer {
  padding-top: 72px;
  padding-bottom: 51px;
  background-color: #2d343c;
}
.footer__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 57px;
}
.footer__logo {
  margin-top: -12px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.05em;
}
.footer__link {
  color: #fff;
  transition: color 250ms ease-in-out;
}
.footer__link:hover {
  color: rgba(255, 255, 255, 0.8);
}
.footer__social-list {
  display: flex;
  align-items: center;
  gap: 22px;
}
.footer__social-item:hover .footer__social-icon {
  transform: translateY(-2px);
}
.footer__social-icon {
  transition: all 250ms ease-in-out;
  fill: #fff;
}

.footer-email {
  font-weight: 700;
  color: #d4c14f;
}

.adress-list {
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */