.benefits {
  // .benefits__row
  &__row {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    gap: 70px;
  }
  // .benefits__item
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 193px;
  }
  // .benefits__item-icon
  &__item-icon {
    margin-bottom: 53px;
  }
  // .benefits__item-text
  &__item-text {
    font-family: $font-secondary;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 1.4;
  }
}
