.cta {
  padding: 180px 0;
  @include tablet {
    padding: 100px 0;
  }
  background: linear-gradient(
      180deg,
      $bg 10.42%,
      rgba(36, 43, 51, 0) 50.52%,
      #242b33 90.1%
    ),
    //фон на картинке (боковушки)
    linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)),
    // оверлей
    url("../img/cta/cta-bg.jpg");

  &__title {
    margin-bottom: 17px;
  }

  &__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__text {
    line-height: 1.5;

    p + p {
      margin-top: 1em;
    }
  }
  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px 30px;
    align-items: center;
    @include tablet {
      grid-template-columns: 1fr;
      gap: 15px 20px;
    }
  }
}

.form {
  &__input {
  }
  &__info {
  }
}
