.footer {
  padding-top: 72px;
  padding-bottom: 51px;
  background-color: $footer-bg;
  &__container {
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 57px;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    @include mobile {
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      justify-items: center;
      text-align: center;
    }
  }
  &__logo {
    margin-top: -12px; // lifted up on 12 px
    max-width: 163px;
  }
  &__logo-img {
  }
  &__logo-text {
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.05em;
    @include tablet {
      font-size: 12px;
      line-height: 1.2;
    }
  }
  &__item {
  }
  &__link {
    color: $text-color;
    transition: color 250ms ease-in-out;
    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }
  &__social-list {
    display: flex;
    align-items: center;
    gap: 22px;
  }
  &__social-item {
    &:hover .footer__social-icon {
      transform: translateY(-2px);
    }
  }
  &__social-link {
  }
  &__social-icon {
    transition: all 250ms ease-in-out;
    fill: $text-color;
  }
}
.footer-email {
  font-weight: 700;
  color: $accent;
}
.adress-list {
  margin-bottom: 20px;
}
