.footer {
  padding-top: 72px;
  padding-bottom: 51px;
  background-color: $footer-bg;
  &__container {
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 57px;
  }
  &__logo {
    margin-top: -12px; // lifted up on 12 px
    color: $text-color;
  }
  &__logo-img {
  }
  &__logo-text {
  }
  &__nav {
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.05em;
  }
  &__item {
  }
  &__link {
    color: $text-color;
    transition: color 250ms ease-in-out;
    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }
  &__address {
  }
  &__contact-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.05em;
  }
  &__contact-item {
  }
  &__contact-link {
    color: $text-color;
    transition: color 250ms ease-in-out;
    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }
  &__social-list {
    display: flex;
    align-items: center;
    gap: 22px;
  }
  &__social-item {
    &:hover .footer__social-icon {
      transform: translateY(-5px);
    }
  }
  &__social-link {
  }
  &__social-icon {
    transition: all 250ms ease-in-out;
  }
}
.footer-email {
  font-weight: 700;
  color: $accent;
}
