.video {
  position: relative;
  overflow: hidden;
  // @include desktop {
  &::after {
    content: "IV";
    left: calc(50% + 555px); //від половини екрану + додаємо половину контейнеру
    transform: translateX(-50%); //і здвигаємо на половину своєї ширини
    z-index: -1;
    line-height: 1.3;
    @include decor;
  }
  // }

  &__link {
    position: relative;
    display: block;
    max-width: 720px;
    margin: 0 auto;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(36, 43, 51, 0.8); //оверлей
      transition: all 250ms ease-in-out;
    }
    &:hover::before {
      background: rgba(36, 43, 51, 0.6); //оверлей
    }
  }
  // .video__icon
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: play-pulse 2s infinite;
    width: 100px;
    height: 100px;
    @include tablet {
      width: 60px;
      height: 60px;
    }
    .video__link:hover & {
      animation: none;
      filter: saturate(1.5);
    }
  }
  @keyframes play-pulse {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(1.1);
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  // .video__img
  &__img {
  }
}
