// $font-primary: "Raleway", sans-serif;
// $font-secondary: "Roboto", sans-serif;
// $font-header: "Playfair Display", serif;

// $bg: #242b33;
// $accent: #d4c14f;
// $text-color: #fff;
// $footer-bg: #2d343c;

body {
  font-family: $font-primary;
  background-color: $bg;
  color: $text-color;
  font-size: 16px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1140px; //1110 + 30px cause padding
  margin-left: auto;
  margin-right: auto;
  &--sm {
    width: 892px; //to match the layout (824)
  }
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.none {
  display: none !important;
}
