// Raleway  400 700
// Playfair 700
// roboto 300  light

// підключити через імпорт

body {
  font-family: $font-primary;
  background-color: $bg;
  color: $text-color;
  font-size: 16px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1140px; //1110 + 30px cause padding
  margin-left: auto;
  margin-right: auto;
}
