@mixin decor {
  position: absolute;
  top: 0;

  font-family: $font-title;
  font-weight: 700;
  font-size: 400px;
  color: $text-color;
  opacity: 0.02;
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
